<template name="pokerTable">
  <p>The poker table</p>

  

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Group1</h4>
        <p>poker: {{groups.group1.members.poker}}</p>
        <p>minigame: {{groups.group1.members.minigame}}</p>

        <h4>Group2</h4>
        <p>poker: {{groups.group2.members.poker}}</p>
        <p>minigame: {{groups.group2.members.minigame}}</p>

        <h4>Group3</h4>
        <p>poker: {{groups.group3.members.poker}}</p>
        <p>minigame: {{groups.group3.members.minigame}}</p>

        <h4>Group4</h4>
        <p>poker: {{groups.group4.members.poker}}</p>
        <p>minigame: {{groups.group4.members.minigame}}</p>
      </div>
    </div>
  </div>  
</template>
