<template name="pokerPlayer">


  <div class="container">

  {{#if gameReady}}
    <p><strong>{{currentUser.username}}</strong></p>

    <div class="row">
      <div class="col-md-12">
        {{#if gamePlay}}
          <p>Your Hand: <strong>{{pokerHand}}</strong></p>
          <button class="btn btn-default deal-card">Deal</button>
          <a id="enterAnswer">Submit</a>
        {{else}}
          <p>Wait your turn brah</p>
        {{/if}}
      </div>
    </div>
  {{else}}
    <p>Game is not ready to play</p>
  {{/if}}

  
  </div>


  
</template>