<template name="pokerPlayer">


  <div class="container">

  {{#if equals gameState.game.ready true}}
    <p><strong>{{currentUser.username}}</strong></p>

    <div class="row">
      <div class="col-md-12">
        <p>Your Hand: <strong>{{player.card}}</strong></p>
        <p>Chip Count: <strong>{{player.chips}}</strong></p>
        {{#if equals gameState.game.state 'poker'}}
          {{#if equals pokerGame.poker.currentPlayer currentUser.game.group}}
            
            <p>Bet Amount: {{pokerGame.poker.betAmt}}</p>

            <button class="btn btn-primary btn-poker" data-action="call">Call</button>
            <button class="btn btn-success btn-poker" data-action="bet" data-toggle="modal" data-target="#betModal">Bet</button>
            <button class="btn btn-danger btn-poker" data-action="fold">Fold</button>

            {{>betModal}}
          {{else}}
            <p>Someone is deciding what to do</p>
          {{/if}}
        {{/if}}

        {{#if equals gameState.game.state 'minigame'}}
          <p>Minigame needs to be played</p>
        {{/if}}

        {{#if equals gameState.game.state 'dealCards'}}
          <p>Cards need to be dealth</p>
        {{/if}}
      </div>
    </div>
  {{else}}
    <p>Game is not ready to play</p>
  {{/if}}

  
  </div>
</template>

<template name="betModal">
  <div class="modal fade" id="betModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Amount to bet?</h4>
        </div>
        <div class="modal-body">
          <input type="text" id="betAmt" placeholder="Bet Amount">
          <button class="btn btn-primary submit-bet">Bet</button>
        </div>
      </div>
    </div>
  </div>
</template>








